body {
    background-color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.header {
    font-size: 50px;
    font-weight: normal;
    color: white;
}
.link--cta {
    font-size: 16px;
    color: aquamarine;
}